In [1]:
import numpy as np
import pandas as pd

In [22]:
# fix some index using df.index
mtcars = pd.read_csv('mtcars.csv')
print(mtcars.index)

mtcars.index = mtcars["name"]

print((mtcars.index))

RangeIndex(start=0, stop=32, step=1)
Index([u'Mazda RX4', u'Mazda RX4 Wag', u'Datsun 710', u'Hornet 4 Drive',
       u'Hornet Sportabout', u'Valiant', u'Duster 360', u'Merc 240D',
       u'Merc 230', u'Merc 280', u'Merc 280C', u'Merc 450SE', u'Merc 450SL',
       u'Merc 450SLC', u'Cadillac Fleetwood', u'Lincoln Continental',
       u'Chrysler Imperial', u'Fiat 128', u'Honda Civic', u'Toyota Corolla',
       u'Toyota Corona', u'Dodge Challenger', u'AMC Javelin', u'Camaro Z28',
       u'Pontiac Firebird', u'Fiat X1-9', u'Porsche 914-2', u'Lotus Europa',
       u'Ford Pantera L', u'Ferrari Dino', u'Maserati Bora', u'Volvo 142E'],
      dtype='object', name=u'name')

In [2]:
series1 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series1

key1    1
key2    2
key3    3
dtype: int64

In [3]:
series1

key1    1
key2    2
key3    3
dtype: int64

In [4]:
d1 = {'a': 1, 'b': 2, 'c': 3}

In [5]:
series2 = pd.Series(d1)
series2

a    1
b    2
c    3
dtype: int64

In [6]:
np.dot(series1, series2)

14

In [7]:
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }

In [8]:
d1

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [6, 7, 8]}

In [9]:
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

In [10]:
print(df1.loc[,"c"])

SyntaxError: invalid syntax (<ipython-input-10-cb86abd6a840>, line 1)

In [11]:
print(df1.loc[]"c"])

SyntaxError: invalid syntax (<ipython-input-11-7b092100cb9b>, line 1)

In [12]:
print(df1.loc["c"])

KeyError: u'the label [c] is not in the [index]'

In [13]:
print(df1.loc[;, "c"])

SyntaxError: invalid syntax (<ipython-input-13-4cf4121740ee>, line 1)

In [14]:
print(df1.loc[:, "c"])

0    6
1    7
2    8
Name: c, dtype: int64

In [15]:
mtcars = pd.read_csv('mtcars.csv')

IOError: File mtcars.csv does not exist

In [16]:
mtcars = pd.read_csv('mtcars.csv')

In [17]:
type(mtcars)

pandas.core.frame.DataFrame

In [18]:
mtcars = pd.read_csv('mtcars.csv')
print(mtcars.index)

RangeIndex(start=0, stop=32, step=1)

In [19]:
mtcars.index = mtcars["name"]

print(mtcars.index)

Index([u'Mazda RX4', u'Mazda RX4 Wag', u'Datsun 710', u'Hornet 4 Drive',
       u'Hornet Sportabout', u'Valiant', u'Duster 360', u'Merc 240D',
       u'Merc 230', u'Merc 280', u'Merc 280C', u'Merc 450SE', u'Merc 450SL',
       u'Merc 450SLC', u'Cadillac Fleetwood', u'Lincoln Continental',
       u'Chrysler Imperial', u'Fiat 128', u'Honda Civic', u'Toyota Corolla',
       u'Toyota Corona', u'Dodge Challenger', u'AMC Javelin', u'Camaro Z28',
       u'Pontiac Firebird', u'Fiat X1-9', u'Porsche 914-2', u'Lotus Europa',
       u'Ford Pantera L', u'Ferrari Dino', u'Maserati Bora', u'Volvo 142E'],
      dtype='object', name=u'name')

In [20]:
mtcars.columns

Index([u'name', u'mpg', u'cyl', u'disp', u'hp', u'drat', u'wt', u'qsec', u'vs',
       u'am', u'gear', u'carb'],
      dtype='object')

In [21]:
mtcars

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2